{% extends "base.html" %}


{% block header_banner %}
<img src = "{{STATIC_URL}}img/about_us_banner.png" alt="" style="height: 150px;width:100%;" class = "hidden-xs" >
{% endblock %}

{% block header_banner_mobile %}
<img src = "{{STATIC_URL}}img/about_us_banner.png" alt="" style="height: 100px; width:100%;" class = "visible-xs">
{% endblock %}

{% block pageContainer %}
<!--- breadcrums --->
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li class = "active">About us</li>
</ol>




<div class = "container-fluid"  style = "width:95%;margin:auto;">
	
		<!-- mobile view ---->
	<div class = "visible-xs">
		<div class = "row">	
			<div class = "col-xs">
				<!--mission for website-->
				<p>About us</p>
				{% for about in aboutus %}
				<p style = "text-align:justify;">{{about.description}}</p>
				{% endfor %}			
			</div>				
		</div>	
	</div>
	
	<!-- for other divices---->
	<div class = "hidden-xs"  >
		<div class = "row">	
			<div class = "col-md-4 col-sm-4 col-lg-4">
				<img src = "{{STATIC_URL}}img/aboutUs.png" class="img-rounded" alt="" style="width:100%;">
			</div>
			<div class = "col-md-8 col-sm-8 col-lg-8">
				<!--mission for website-->
				<p>About us</p>
				{% for about in aboutus %}
				<p style = "text-align:justify;">{{about.description}}</p>
				{% endfor %}				
			</div>
				
		</div>
	</div>		
</div>


{% endblock %}
