{% extends "base.html" %}


{% block header_banner %}
<img src = "{{STATIC_URL}}img/our_team_banner.jpg" alt="" style="height: 150px;width:100%;" class = "hidden-xs" >
{% endblock %}

{% block header_banner_mobile %}
<img src = "{{STATIC_URL}}img/our_team_banner.jpg" alt="" style="height: 100px; width:100%;" class = "visible-xs">
{% endblock %}


{% block pageContainer %}

<!--- breadcrums --->
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li class = "active">Our team of professioal</li>
</ol>




<!-- core team details ----->
<div class = "container-fluid"  style = "max-width:98%;margin:auto;">
	
	
	{% if coreteams %}
	<p style = ""><u>Our core team</u></p>
	
	{% for teammember in coreteams %}
	<div class = "row" style = "">		
		<div class = "col-md-2 col-sm-4 col-lg-2 col-xs-4">
			{% if teammember.team_member.username = "joseph" and teammember.team_member.pic = "yes" %}
			<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
			<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
			{% else %}
			<!--- check for images of other users ---->
			
			
			<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
			<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
			{% endif %}
		</div>
		<div class = "col-md-6 col-sm-6 col-lg-6 col-xs-8">
			<P>Name : {{teammember.team_member.full_name}}</P>
			<P>Position : {{teammember.team_member.position}}</P>			
		</div>
		
		<div class = "col-md-4 col-sm-2 col-lg-4">
			<button type="button" class="btn btn-info" onclick = "window.location.href='{% url 'singleMember' teammember.team_member.id %}'" >More info</button>
		</div>	
	</div>
	<hr>
	
	{% endfor %}
	{% endif %}
	
		
	<!--- for associate---->

		{% if coreteams %}
		<p style = "" >Our associate team</p>
			
		{% for teammember in associates %}
		<div class = "row" >		
			<div class = "col-md-2 col-sm-4 col-lg-2 col-xs-4">
				{% if teammember.team_member.username = "joseph" and teammember.team_member.pic = "yes" %}
				<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
				<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
				{% else %}
				<!--- check for images of other users ---->
				
				
				<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
				<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
				{% endif %}
			</div>
			<div class = "col-md-6 col-sm-6 col-lg-6 col-xs-8">
				<P>Name : {{teammember.team_member.full_name}}</P>
				<P>Position : {{teammember.team_member.position}}</P>			
			</div>
			
			<div class = "col-md-4 col-sm-2 col-lg-4">
				<button type="button" class="btn btn-info" onclick = "window.location.href='{% url 'singleMember' teammember.team_member.id %}'" >More info</button>
			</div>	
		</div>
		<hr>
	
	{% endfor %}
	{% endif %}
</div>


{% endblock %}
