{% extends "base.html" %}
{% block pageContainer %}
<!--- breadcrums --->
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li class = "active">Our team of professioal</li>
</ol>




<!-- core team details ----->
<div class = "container-fluid"  style = "min-height:200px; max-width:100%;margin:auto">
	{% for teammember in coreteams %}
	<div class = "row">		
		<div class = "col-md-2 col-sm-4 col-lg-2 col-xs-4">
			{% if teammember.username = "joseph" and teammember.pic = "yes" %}
			<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
			<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
			{% else %}
			<!--- check for images of other users ---->
			
			
			<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
			<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
			{% endif %}
		</div>
		<div class = "col-md-6 col-sm-6 col-lg-6 col-xs-8">
			<P>Name : {{teammember.full_name}}</P>
			<P>Position : {{teammember.position}}</P>			
		</div>
		
		<div class = "col-md-4 col-sm-2 col-lg-4">
			<button type="button" class="btn btn-info" onclick = "window.location.href='{% url 'singleMember' teammember.id %}'" >More info</button>
		</div>	
	</div>
	<hr>
	
	{% endfor %}
</div>


{% endblock %}
