{% extends "base.html" %}
{% block pageContainer %}

<!--- navigation------>
<nav class="navbar navbar-default " role="navigation">
	<div class="container-fluid">
		<!-- website brand -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationItems">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Emasco</a>
		</div>
		
		<!-- nav, collapse in small deveices --->
		<div class="collapse navbar-collapse" id="navigationItems">
			<ul class="nav navbar-nav">
				<li>
					<a href = "#">Home</a>
				</li>				
				<li>
					<a href = "#">Our Works</a>
				</li>
				<li>
					<a href = "#">Services</a>
				</li>
				<li>
					<a href = "#">Mission And Vision</a>
				</li>
				<li>
					<a href = "#">Our Core Team</a>
				</li>
				<li>
					<a href = "#">Contact Us</a>
				</li>			
			</ul>			
		</div>
	</div>
</nav>



{% endblock %}
