{% extends "base.html" %}

{% block header_banner %}
<img src = "{{STATIC_URL}}img/our_portfolio_banner.jpg" alt="" style="height: 150px;width:100%;" class = "hidden-xs" >
{% endblock %}

{% block header_banner_mobile %}
<img src = "{{STATIC_URL}}img/our_portfolio_banner.jpg" alt="" style="height: 100px; width:100%; " class = "visible-xs">
{% endblock %}


{% block pageContainer %}
<!--- breadcrums --->
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li class = "active">Portfolio</li>
</ol>


<div class = "container-fluid"  >
	<!-- for mobile phones  --->
	<div class = "visible-xs">
		{% for portfolio in portfolios%}
		<div class = "row" style = "margin-bottom:2%;border-bottom:3px solid #F5F5F5;padding-bottom:2%;border-radius:10px;">
			<div class = "col-xs-7">
				<p>{{forloop.counter}} : {{portfolio}}</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;{{portfolio.client.name}}</</p>
			</div>
			<div class = "col-xs-5">
				<button type="button" onclick = "window.location.href='{% url 'singlePortfolio' portfolio.id %}'" class="btn btn-primary"  style = "width:100%;">More info</button>
			</div>
		</div>	
		{% endfor %}	
	</div>
	
	<!-- for other devces -->
	<div class = "hidden-xs">
		{% for portfolio in portfolios%}
		<div class = "row" style = "border-bottom:3px solid #F5F5F5;padding-bottom:2%;border-radius:10px; max-width:95%;margin:auto;margin-bottom:2%;">
			<div class = "col-md-7 col-sm-7 col-lg-7">
				<p>{{forloop.counter}} : {{portfolio}}</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;{{portfolio.client.name}}</</p>
			</div>
			<div class = "col-md-5 col-sm-5 col-lg-5">
				<button type="button" onclick = "window.location.href='{% url 'singlePortfolio' portfolio.id %}'" class="btn btn-primary"  style = "width:100%;">More info</button>
			</div>
		</div>	
		{% endfor %}		
	</div>
</div>


{% endblock %}
