{% extends "base.html" %}
{% block pageContainer %}
<!--- breadcrums --->
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'coreTeam' %}">core team</a></li>
	<li class = "active">{{singleMember.full_name}}</li>
</ol>

<div class = "container-fluid"  style = "min-height:200px;">
	
	
	<!-- images for a given member---- -->
	<div class = "row">
		<hr>
		<div class = "col-md-2 col-sm-4 col-lg-2 col-xs-4">
			{% if singleMember.username == "joseph" and singleMember.pic = "yes" %}
			<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
			<img src = "{{STATIC_URL}}img/joseph.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
			{% else %}
			<!--- check for images of other users ---->
			
			
			<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 100px; width:100%; border-radius:10px;" class = "visible-xs">
			<img src = "{{STATIC_URL}}img/emascouser.png" alt="" style="height: 150px;width:100%; border-radius:10px;" class = "hidden-xs" >
			{% endif %}
		</div>
		<div class = "col-md-6 col-sm-5 col-lg-6 col-xs-8">
			<P>Name : {{singleMember.full_name}}</P>
			<hr>
			<P>Position : {{singleMember.position}}</P>	
			<hr>		
		</div>
		<!---for other devices other than mobile phones ---->
		<div class = "col-md-4 col-sm-3 col-lg-4 hidden-xs">
			<div class = "">
				<button type="button" class="btn btn-primary" id = "history" style = "width:100%;">History</button>
				<!-- details for History -->
				<div  id = "history_details">
					<div style = "border-radius:10px;border:1px solid #F5F5F5;background: #F5F5F5;padding:1%; min-height:70px;">
						{%if singleMember.user_history%}
						<p>singleMember.user_history</p>
						
						{% else %}
						<p>Cruently {{singleMember}} has no history</p>
						{% endif %}
					</div>				
				</div>
				
			</div>
			<div style = "margin-top:1%;">
				<button type="button" class="btn btn-primary" id = "experiance" style = "width:100%;">Experiance</button>
				<!-- details for Experiance -->
				<div  id = "experiance_details">
					<div style = "border-radius:10px;border:1px solid #F5F5F5;background: #F5F5F5;padding:1%; min-height:70px;">												
						<p>experiance_details</p>
					</div>				
				</div>
				
			</div>
			<div style = "margin-top:1%;">
				<button type="button" class="btn btn-primary" id = "specilazation" style = "width:100%;">Specilazation</button>	
				<!-- details for Specilazation -->
				<div id = "specilazation_details">
					<div style = "border-radius:10px;border:1px solid #F5F5F5;background: #F5F5F5;padding:1%; min-height:70px;">
						{%if singleMember.specialization_set.all %}
						{%for specialization in singleMember.specialization_set.all %}
						<P>{{ forloop.counter }} . {{specialization.specialization}}</P>
						{% endfor %}					
						
						{% else %}
						<P>Currently {{singleMember}} has no area of specialization</P>
						{% endif %}
					</div>					
				</div>				
				
			</div>
		</div>	
		
		
		<!-- only for mobiles phones -->
		<div class = "row visible-xs">	
			<hr>		
			<div class = "col-xs-1"></div>		
			<div class = "col-xs-10">				
				<div class = "">
					<button type="button" class="btn btn-primary" id = "history_mobile" style = "width:100%;">History</button>
					<!-- details for History -->
					
					<div  id = "history_details_mobile">
						<div style = "border-radius:10px;border:1px solid #F5F5F5;background: #F5F5F5;padding:1%; min-height:70px;">
							{%if singleMember.user_history%}
							<p>{{singleMember.user_history}}</p>
							
							{% else %}
							<p>Cruently {{singleMember}} has no history</p>
							{% endif %}
						</div>					
					</div>
					
				</div>
				<div style = "margin-top:1%;">
					<button type="button" class="btn btn-primary" id = "experiance_mobile" style = "width:100%;">Experiance</button>
					<!-- details for Experiance-->
					<div  id = "experiance_details_mobile">
						<div style = "border-radius:10px;border:1px solid #F5F5F5;background: #F5F5F5;padding:1%; min-height:70px;">
							<p>experiance_details</p>
						</div>					
					</div>
					
				</div>
				<div style = "margin-top:1%;">
					<button type="button" class="btn btn-primary" id = "specilazation_mobile" style = "width:100%;">Specilazation</button>	
					<!-- details for Specilazation -->
					<div id = "specilazation_details_mobile">
						<div style = "border-radius:10px;border:1px solid #F5F5F5;background: #F5F5F5;padding:1%; min-height:70px;">							
							{%if singleMember.specialization_set.all %}
							
							{%for specialization in singleMember.specialization_set.all %}
							<P>{{ forloop.counter }} . {{specialization.specialization}}</P>
							{% endfor %}					
							
							{% else %}
							<P>Currently {{singleMember}} has no area of specialization</P>
							{% endif %}						
						</div>						
					</div>
					
				</div>					
			<div class = "col-xs-1"></div>		
		</div>
	</div>
	
</div>
</div>

{% endblock %}
